[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
twilio = "*"
selenium = "*"
pypdf2 = "*"
django = "*"
pylint-django = "*"

[dev-packages]

[requires]
python_version = "3.12"
